@model XavSpace.Website.ViewModels.Notices.NoticeViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    Layout = "~/Views/Shared/_NewsFeedLayout.cshtml";
        
    


    
}
@section head{
    <style>
        .post img {
            width: 100% !important;
        }

        .container img {
            width: 100%;
        }
    </style>
<meta property="og:title"
      content="@ViewBag.Title" />
<meta property="og:description" content="@ViewBag.Description">
<meta property="og:site_name" content="XavSpace" />
<meta property="og:image" content="~/Content/images/LOGO.png">
}
@*<div>


        <div class="panel panel-success">
            <div class="panel-heading" style="display:flex">
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="text-align:left">
                    @Html.DisplayFor(model => model.NoticeBoardId)
                    @if (Model.isHighPriority)
                    {
                        <i class="glyphicon glyphicon-exclamation-sign" title="High Priority"> </i>
                    }
                    &nbsp;@Html.DisplayFor(model => model.Title, "Title")
                </div>
                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="text-align:right">
                    Created on @Html.DisplayFor(model => model.DateCreated)

                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12">


                    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
                </div>
            </div>
        </div>

    </div>*@
@{var date = Model.DateCreated.Value.Day + "th " + Model.DateCreated.Value.ToString("MMMM") + ", " + Model.DateCreated.Value.Year;
}
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="notice-outer effect6" id="printable">
                
                <div class="notice-inner">
                    
                    <h2><u><strong>@Html.DisplayFor(model => model.Title).ToString().ToUpper()</strong></u></h2>

                    <br>
                    <h3>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</h3>
                    <br>
                    <div class='container-ctm'>
                        <div class="align-left">
                            <h3 style="text-align:left;">@date</h3>
                        </div>
                        <div class="align-right">
                            <h3 style="text-align:right;">PRINCIPAL</h3>
                        </div>
                    </div>
                    <br>
                    <br>


                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <div class="fb-share-button" data-href="@Url.Action("Notice", "Boards", new { id = Model.Id })" data-layout="button" ></div>    
                        </div>
                        <div class="btn-group">
                            <a onclick="printContent('printable')" id="hideprint" title="Print Notice"><i class="fa fa-print"></i></a>
                        </div>
                        <div class="btn-group">
                            @if (User.Identity.IsModerator())
                            {
                                using (Html.BeginForm("Delete", "Notices", new { noticeId = Model.Id }, FormMethod.Post, new { @id = "deleteNoticeForm" }))
                                {
                                    <a data-toggle="modal" data-target="#confirmDelete">
                                        <i class="glyphicon glyphicon-trash" title="Delete Notice"></i>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Delete Modal -->

    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">

        @Html.AntiForgeryToken()
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Are you sure you want to delete this Notice?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        Close
                    </button>
                    <input type="hidden" name="id" id="deleteNoticeId" value="-1" />
                    <button class="btn btn-primary" onclick="confirmSelection()">Delete</button>
                </div>
            </div>
        </div>
        }
    </div>

    <!-- #endregion -->


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    @section Scripts{
        <script>
            function confirmSelection() {
                document.getElementById("deleteNoticeForm").submit();
            }
            //var id = -1;
            //function secondFunction() {
            //    if (id > -1) {
            //        $('#deleteNoticeId').val(id);
            //        document.getElementById("deleteNoticeForm").submit();
            //    }
            //}
            //function thirdFunction(i) {
            //    id = i;
            //}
            function printContent(el) {
                var restorepage = document.body.innerHTML;
                var printcontent = document.getElementById(el).innerHTML;
                document.body.innerHTML = printcontent;
                window.print();
                document.body.innerHTML = restorepage;
            }

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1569856776576792&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    }
