@model XavSpace.Website.ViewModels.Boards.NoticeBoardViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>
<p>
    @if (User.Identity.IsModerator())
    {
        @: @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    }
    @Html.ActionLink("All Notice Boards", "Index")
</p>
<div>
    @*<h4>NoticeBoard</h4>*@
    @*<hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsOfficial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsOfficial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMandatory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMandatory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm("Post", "Boards", new { id = Model.Id }))
    {
        <input type="submit" value="Post Notice" class="form-control"/>
    }
</p>
<hr />
@foreach (var notice in Model.Notices)
{
    <p>
        @notice.Title
    </p>
}