@model XavSpace.Website.ViewModels.Notices.PendingNoticeViewModel


<div class="myPostBody">
    <div class="row">
        <div class="col-md-8">

            <div class="myPostBodyOuter">
                <div class="myPostBodyInner">
                    <h4>@Model.DateCreated.Friendly()</h4>
                    <h2>@Html.DisplayFor(model => Model.Title)</h2>

                    <h3> @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</h3>

                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a href="@Url.Action("Notice", "Boards", new { id = Model.Id })">
                                <i class="glyphicon glyphicon-list " title="Details"></i>
                            </a>
                        </div>

                        <div class="btn-group">
                            @if (User.Identity.IsStaff() @*&& !Model.IsOfficial only official posts appear here*@)
                            {
                                <a title="Delete Notice" data-toggle="modal" data-target="#confirmDelete" onclick="thirdFunction(@Model.Id)">
                                    <i class="glyphicon glyphicon-trash" title="Delete Notice"></i>
                                </a>
                            }
                            else if (!User.Identity.IsModerator())
                            {

                                <a style="color:#808080">
                                    <i class="glyphicon glyphicon-trash" title="Official Notices can only be deleted by Moderators"></i>

                                </a>
                            }
                            else if (User.Identity.IsModerator())
                            {
                                <a title="Delete Notice" data-toggle="modal" data-target="#confirmDelete" onclick="thirdFunction(@Model.Id)">
                                    <i class="glyphicon glyphicon-trash" title="Delete Notice"></i>
                                </a>
                            }

                        </div>
                        <div class="btn-group">
                            <a title="Edit Notice" href="@Url.Action("EditNotice","Boards", new { id = Model.Id })">
                                <i class="glyphicon glyphicon-pencil" title="Edit Notice Notice"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <br />

        </div>
    </div>
</div>