@model XavSpace.Website.ViewModels.Notices.MyPostViewModel
@{
    ViewBag.Title = "My Posts";
}

<h2>My Posts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@*<ul class="nav nav-tabs">
        <li class="active"><a href="#approved" data-toggle="tab">Approved Posts</a></li>
    </ul>*@

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#approved" data-toggle="tab" onclick="chooseNoticeType(1)">Approved</a></li>
    <li role="presentation"><a href="#pending" data-toggle="tab" onclick="chooseNoticeType(2)">Pending</a></li>
    <li role="presentation"><a href="#amended" data-toggle="tab" onclick="chooseNoticeType(3)">Amended</a></li>
</ul>
<br>
<br>
<div class="tab-content">
    <div class="tab-pane fade" id="approved">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div id="approvedPosts">
                        @foreach (var item in Model.ApprovedPosts)
                        {
                            @Html.Partial("_MyPostsPartial", item)

                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="spinner" id="loadingAnimationApproved">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="pending">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div id="pendingPosts">
                        @foreach (var item in Model.PendingPosts)
                        {
                            @Html.Partial("_MyPostsPartial", item)

                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="spinner" id="loadingAnimationPending">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="amended">
        <div class="container">
            <div class="body-content">
                <div class="row">
                    <div id="amendedPosts">
                        @foreach (var item in Model.AmendedPosts)
                        {
                            @Html.Partial("_MyPostsAmendedPartial", item)
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="spinner" id="loadingAnimationAmended">
                            <div class="rect1"></div>
                            <div class="rect2"></div>
                            <div class="rect3"></div>
                            <div class="rect4"></div>
                            <div class="rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@*THE DELETE MODAL*@
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Html.BeginForm("Delete", "Notices", null, FormMethod.Post, new { @id = "deleteform" }))
    {
    @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this Notice?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <input type="hidden" name="noticeId" id="deleteFormId" value="-1" />
                <button class="btn btn-primary" onclick="secondFunction()">Delete</button>
            </div>
        </div>
    </div>
    }
</div>
@section Scripts{
    <script>

        //Notice Type
        var noticeType = -1;
        function chooseNoticeType(a) {
            noticeType = a;
        }

        // Delete
        var id = -1;
        function secondFunction() {
            if (id > -1) {
                $('#deleteFormId').val(id);
                document.getElementById("deleteform").submit();
            }
        }
        function thirdFunction(i) {
            id = i;
        }

        // Inifnite scroll
        var approvedIndex = @Model.ApprovedPosts.Count;
        var ammendedIndex = @Model.AmendedPosts.Count;
        var pendingIndex = @Model.PendingPosts.Count;

        // 1 = Approved, 2 = Pending, 3 = Amended
        function getFeeds(n) {
            if (noticeType == 1) {
                var url = "/MyPosts/GetApproved?index=" + approvedIndex + "&number=" + n;
            }
            else if (noticeType == 2) {
                var url = "/MyPosts/GetPending?index=" + pendingIndex + "&number=" + n;
            }
            else {
                var url = "/MyPosts/GetAmended?index=" + ammendedIndex + "&number=" + n;
            }
            console.log("getting from " + url);
            $.get(url, function (data) {
                if (noticeType == 1) {
                    $("#approvedPosts").append(data);
                    approvedIndex += n;
                }
                else if (noticeType == 2) {
                    $("#pendingPosts").append(data);
                    pendingIndex += n;
                }
                else   {
                    $("#amendedPosts").append(data);
                    ammendedIndex += n;
                }
            })
            .fail(function () {
                alert("Couldn't load more notices");
            });
        }

        // true if no more approved posts
        function doneApproved() {
            return $('#approvedPosts .xs-done').length > 0;
        }
        // true if no more pending posts
        function donePending() {
            return $('#pendingPosts .xs-done').length > 0;
        }
        // true if no more amended posts
        function doneAmended() {
            return $('#amendedPosts .xs-done').length > 0;
        }


        // on scroll
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                if (noticeType == 1) {  // approved
                    if (doneApproved() == true) {
                        $("#loadingAnimationApproved").hide();
                    }
                    else {
                        getFeeds(3);
                    }
                }
                else if (noticeType == 2) { // pending
                    if (donePending() == true) {
                        $("#loadingAnimationPending").hide();
                    }
                    else {
                        getFeeds(3);
                    }
                }
                else {
                    if (doneAmended() == true) { // amended posts
                        $("#loadingAnimationAmended").hide();
                    }
                    else {
                        getFeeds(3);
                    }
                }
            }
        });

    </script>
}
