@model Tuple<XavSpace.Website.ViewModels.Boards.NoticeBoardViewModel,XavSpace.Website.ViewModels.Notices.NoticeViewModel>

<div class="well">

    <h2>@Model.Item1.Title</h2>
    <h3>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Item1.Description))</h3>
    <a href="@Url.Action("Notice", "Boards", new { id = Model.Item1.Id })">
        <i class="glyphicon glyphicon-list " title="Details"></i>
    </a>

</div>


<div class="well">

    <h2>@Model.Item2.Title</h2>
    <h3>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Item2.Description))</h3>
    <a href="@Url.Action("Notice", "Boards", new { id = Model.Item2.Id })">
        <i class="glyphicon glyphicon-list " title="Details"></i>
    </a>

</div>



