@model Tuple<List<XavSpace.Website.ViewModels.Boards.NoticeBoardViewModel>, List<XavSpace.Website.ViewModels.Notices.NoticeViewModel>>
@{
    ViewBag.Title = "Search Results";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model.Item2)
{

   <div class="well">
       
   <h2>@item.Title</h2>
   <h3>@item.Description</h3>
       <a href="@Url.Action("Notice", "Boards", new { id = item.Id })">
           <i class="glyphicon glyphicon-list " title="Details"></i>
       </a>

   </div>





}

@foreach (var item in Model.Item1)
{
    <div class="well">

        <h2>@item.Title</h2>
        <h3>@item.Description</h3>
        <a href="@Url.Action("View", "Boards", new { id = item.Id })">
            <i class="glyphicon glyphicon-list " title="Details"></i>
        </a>

    </div>


}