@model XavSpace.Entities.Data.Notice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <br>
    <hr />


    <div class="panel panel-success">
        <div class="panel-heading" style="display:flex">
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="text-align:left">
                @Html.DisplayFor(model => model.NoticeBoard.Title)
                @if (Model.HighPriority)
                {
                    <i class="glyphicon glyphicon-exclamation-sign" title="High Priority"> </i>
                }
                &nbsp;@Html.DisplayFor(model => model.Title, "Title")
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8" style="text-align:right">
                Created on @Html.DisplayFor(model => model.DateCreated)

            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">

                
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
            </div>
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoticeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
