@model IEnumerable<XavSpace.Entities.Data.Notice>

@{
    ViewBag.Title = "Notices";
}

<h2>@ViewBag.Title</h2>

<p class="help-block">
    This controller is only intended for testing. Will be removed later.
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-info">
    <div class="panel-heading">
        Notices
    </div>
    <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.NoticeBoard.Title)*@
                        Notice Board
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateReviewed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HighPriority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoticeBoard.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReviewed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HighPriority)
                    </td>
                    <td class="col-md-1">
                        <a href="@Url.Action("Edit", new { id = item.NoticeId })">
                            <i class="glyphicon glyphicon-pencil" title="Edit Post"></i>

                        </a>&nbsp;
                        <a href="@Url.Action("Details", new { id = item.NoticeId })">
                            <i class="glyphicon glyphicon-list" title="Details"></i>

                        </a>&nbsp;
                        <a href="@Url.Action("Delete", new { id = item.NoticeId })">
                            <i class="glyphicon glyphicon-trash" title="Delete Post"></i>

                        </a>

                    </td>
                </tr>

            }
            </tbody>

        </table>

    </div>
</div>
