@model IEnumerable<XavSpace.Website.ViewModels.Notices.PendingNoticeViewModel>

@{
    ViewBag.Title = "Pending Notices";
}

<h2>Index</h2>
<p class="help-block">
    Let's leave comments for February once I start creating the API. Because we'll have to change code to use Ajax later anyway.
</p>
<p class="help-block">
    TODO: <br />
    A proper layout for the way pending approvals appear
</p>

@if (Model.Count() == 0)
{
    <p class="text-info">
        No notices are pending reviews
    </p>
}
else
{
    foreach (var item in Model)
    {
        <div class="well">

            <h2>@Html.DisplayFor(modelItem => item.Title) <small><em>Created on @Html.DisplayFor(modelItem => item.DateCreated)</em></small> </h2>
            <h4>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Description))</h4>
            @if (@Html.DisplayFor(modelItem => item.NoticeBoardName).ToString().Contains("Board"))
            {
                <h5>- Posted on the<strong> @Html.DisplayFor(modelItem => item.NoticeBoardName)</strong></h5>
            }
            else
            {
                <h5>- Posted on the<strong> @Html.DisplayFor(modelItem => item.NoticeBoardName) Notice Board.</strong> </h5>
            }

            @using (Html.BeginForm("Approve", "Pending"))
            {
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit" class="btn btn-success">Approve <i class="glyphicon glyphicon-thumbs-up"></i></button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Ammend <i class="glyphicon glyphicon-thumbs-down"></i></button>

            }
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                Send poster a comment
                            </h4>
                        </div>
                        @using (Html.BeginForm("Disapprove", "Pending"))
                        {
                            <div class="modal-body">
                                @Html.TextArea("comment", new { @class = "form-control " })
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                @Html.Hidden("id", item.Id);
                                <input type="submit" class="btn btn-primary" value="Disapprove">

                            </div>
                        }
                    </div>

                </div><!-- /.modal-content -->
            </div>
        </div>

    }
}
