@model IEnumerable<XavSpace.Website.ViewModels.Notices.DetailedNoticeViewModel>
@{
    ViewBag.Title = "Your Notices";
    Layout = "~/Views/Shared/_NewsFeedLayout.cshtml";
}
<h1>@ViewBag.Title</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @foreach (var item in Model)
            {
                var date = item.DateCreated.Value.Day + "th " + item.DateCreated.Value.ToString("MMMM") + ", " + item.DateCreated.Value.Year;
                <div style="border:thin; background-color:white; margin-top:1em; border-radius:.2em; border-bottom-style:inset; box-shadow:0 8px 6px -6px black">
                    <div style="padding:1em">
                        <h1>@Html.DisplayFor(modelItem => item.NoticeBoardName)</h1>
                        <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                        <h4>@Html.DisplayFor(modelItem => item.Description)</h4>
                        <div class='container-ctm'>
                            <div class="align-left">
                                <h4 style="text-align:left;"><b>@date</b></h4>
                            </div>
                            <div class="align-right">
                                <h4 style="text-align:right;"><b>The Principal</b></h4>
                            </div>
                        </div>
                        
                        

                        <div class="img-responsive" style="text-align:right">
                            <img src="~/Content/images/John_McCain_Signature.PNG" style="width:100px; height:auto" />

                        </div>

                        
                    </div>
                </div>
            }
        </div>

    </div>



</div>
