<footer>
    <p>
        &copy; @DateTime.Now.Year - XavSpace
        &middot; @Html.ActionLink("About", "Index", "About")
        &middot; @Html.ActionLink("Contact", "Contact", "About")
        @if (User.IsInRole("Admin"))
        {
            @: &middot; @Html.ActionLink("Users", "Index", "UsersAdmin")
            @: &middot; @Html.ActionLink("Roles", "Index", "RolesAdmin")
        }
        @if (User.IsInRole("Tester"))
        {
            @: &middot; @Html.ActionLink("Error Logs", "Index", "ErrorLog")
        }
    </p>
</footer>
